.log-reg {
    width: 640px;
    margin: 0 auto;
}

.log-reg > .box {
    height: 400px;
    background-color: #363636;
}

.log-reg > .hero {
    height: 80px;
}

.title {
    margin-top: -25px !important;
}

.hero {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}

.box {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; 
    background-color: #2222;
}

.columns, .column {
    margin: 0;
}

input {
    background-color: transparent;
    border-radius: 0px;
    border: 0 solid transparent;
    border-bottom: 1px solid #fff;
    caret-color: #fff;
    color: #fff;
    box-shadow: none;
}

input:focus {
    box-shadow: none;
}

a {
    color: #fff;
}

a:hover {
    color: #ccc;
    text-decoration: underline;
    transition: .25s ease;
}


