html {
    background-color: #363636;
    overflow: hidden;
}
.container {
    height: calc(100vh - 52px);
    background-color: #fff1;
    overflow: hidden;
    margin-top: 52px;
    padding: 0 20px;
}  
.column {
    position: relative;
    margin: 10px 0px;
}
.column p {
    word-wrap: break-word;
}
canvas {
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
}
.navbar {
    background-color: transparent !important;
}
p, details, .title {
    color: #ddd;
}
.column img {
    width: 100%;
}
.column p {
    word-wrap: break-word;
}
.float-right { float: right; }
figure.image {
    margin: 0 auto;
    margin-top: 10px;
    width: 72%;
}
.card {
    background-color: transparent;
    box-shadow: none;
}
.card .title {
    text-align: center;
}
.navbar-start, .navbar-brand, .navbar-end {
    padding: 0 10px;
}  
label {
    color: #eee !important;
}

.is-primary {
    background-color: #7B4283 !important;
}