<div *ngIf="anime" class="container">
    <!-- <p>
        <span class="icon is-small is-left">
            <i class="fas fa-list"></i>
        </span> 
        <span class="icon is-small is-left">
            <i class="fas fa-th"></i>
        </span>
    </p> -->
    <div class="outer columns">
        <div class="left-col">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="{{ anime.thumbnail }}" alt="{{ anime.title }}">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ anime.title }}</p>
                        </div>
                    </div>
            
                    <div class="content">
                        <p>
                            {{ anime.description }}
                            <a href="{{ anime.mal_url }}">MAL</a><br>
                            Score: {{ anime.mal_score }}<br>
                            Type: {{ anime.anime_type }}<br>
                            Episodes: {{ anime.episodes }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-col">
            <div *ngFor="let video of videos; let i = index">
                <div *ngIf="i%4==0" class="columns">
                    <app-video *ngIf="videos[i]" [video]="videos[i]" class="column is-3"></app-video>
                    <app-video *ngIf="videos[i+1]" [video]="videos[i+1]" class="column is-3"></app-video>
                    <app-video *ngIf="videos[i+2]" [video]="videos[i+2]" class="column is-3"></app-video>
                    <app-video *ngIf="videos[i+3]" [video]="videos[i+3]" class="column is-3"></app-video>
                </div>
            </div>
        </div>
    </div>
</div>