html {
    overflow: hidden;
    background-color: #363636;
}
body {
    text-align: center;
}
video {
    height: 100vmin;
}
.navbar {
    background-color: #fff9;
    transition: .25s ease;
}
#back {
    position: absolute;
    bottom: 10px;
    right: 10px;
}