<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<link rel="stylesheet" href="/static/home_app/css/style.css">
	<style>
		.container { overflow: hidden; }
		.columns { padding-right: 5px; }
	</style>
	{% load static %}
</head>
<body>

	<nav class="navbar is-fixed-top is-dark">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				<img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
			</a>
			<div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
				<span></span><span></span><span></span>
			</div>
		</div>
		
		<div id="navbarExampleTransparentExample" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" href="/">Home</a>
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link" href="#!">Other</a>
					<div class="navbar-dropdown is-boxed">
						<a class="navbar-item" href="#!">About</a>
						<a class="navbar-item" href="#!">Settings</a>
					</div>
				</div>
			</div>
			<div class="navbar-end">
				<div class="navbar-item">
					<div class="field is-grouped">
						<p class="control">
							<a class="button is-info is-outlined" href="/">
								<span class="icon"><i class="fas fa-arrow-circle-left"></i></span>
								<span>Back</span>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div class="container">
		
		<div class="columns">
			<div class="column is-3 left-col">
				<div class="card">
					<div class="card-image">
						<figure class="image">
							<img src="{{ anime.get_thumb }}" alt="{{ anime.mal_title }}">
						</figure>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4">{{ anime.mal_title|safe }}</p>
							</div>
						</div>

						<div class="content">
							<p>
								{{ anime.description }}
								<a href="{{ anime.mal_url }}">MAL</a><br>
								Score: {{ anime.mal_score }}<br>
								Type: {{ anime.anime_type }}<br>
								Episodes: {{ anime.episodes }}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-9 right-col">
				{% for video in videos %}
					{% if forloop.counter0 == 0 %}
						<div class="columns">
					{% elif forloop.counter0|divisibleby:3 %}
						</div><div class="columns">
					{% endif %}
					<div class="column is-4 video-block">
						<div class="vid" data-path="{{ video.path }}">
							<img src="/static/home_app/img/{{ video.thumb }}" alt="thumb">
							<div class="middle">
								<div class="play"></div>
							</div>
						</div>
						<p>{{ video.filename }}</p>
						<details>
							<summary>Details</summary>
							<p>Group: {{ video.sub_group }}</p>
							<p>Anime: {{ video.anime.mal_title|safe }}</p>
							<p>Episode: {{ video.episode_number }}</p>
							<p>Duration: {{ video.get_duration }}</p>
							<p>Subtitles: {{ video.subtitles }}</p>
							<p>Filesize: {{ video.get_filesize }}</p>
						</details>
					</div>
					{% if forloop.counter == videos|length %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/static/home_app/js/anime.js"></script>
	<script type="text/javascript" src="/static/home_app/js/nodegarden.js"></script>

</body>
</html>