<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<!-- <h1>Video</h1> -->
	<!-- <video data-dashjs-player autoplay controls></video> -->
	<h1>Here are the files</h1>
	<div id="files"></div>
	<button id="thingy">Search for files</button>

	<script type="text/javascript">
		document.getElementById("thingy").addEventListener("click", function(e){
			fetch("/test")
			.then( res => {
				return res.json();
			})
			.then( data => {
				if(data.files.length > 0){
					let ele = `<ul>`;
					for(let file of data.files){
						ele += `<li><button data-path="${file}">${file.split("/")[file.split("/").length-1]}</button></li>`;
					}
					ele += `</ul>`;
					document.getElementById("files").innerHTML = ele;
					videoListeners()
				}
			})
		});

		function videoListeners(){
			for(let vid of document.querySelectorAll("[data-path]")){
				vid.addEventListener("click", function(e){
					startVid(e);
				});
			}
		}

		function startVid(e){
			fetch(`/vid?path=${e.target.dataset.path}`)
			.then( res => {
				return res.json();
			})
			.then( data => {
				checkStatus(`http://${data.host}/dash/${data.key}.mpd`, data.key);
			})
		}

		function checkStatus(url, key){
			fetch(url).then(function(res){
				console.log(res.status);
				if(res.status != 200){
					setTimeout(function(){checkStatus(url, key);}, 1000);
				} else {
					window.location = `/watch?key=${key}`;
				}
			});
		}

	</script>

</body>
</html>