<!DOCTYPE html>
<html>
<head>
	<title>{{key}}</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<style type="text/css">
		html {
			overflow: hidden;
			background-color: #363636;
			/* background-image: url("/static/home_app/img/footer_lodyas/footer_lodyas.png"); */
		}
		body {
			text-align: center;
		}
		video {
			height: 100vmin;
		}
		.navbar {
			background-color: #fff9;
			transition: .25s ease;
		}
		#back {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
	</style>
	<!-- <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script> -->
	<script type="text/javascript" src="/static/home_app/js/dash.min.js"></script>
</head>
<body>

	<nav class="navbar is-fixed-top" id="nav">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				<img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
			</a>
			<div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
				<span></span><span></span><span></span>
			</div>
		</div>
		<div id="navbarExampleTransparentExample" class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item">
					<a class="button is-dark is-outlined" href="/">
						<span class="icon"><i class="fas fa-home"></i></span>
						<span>Home</span>
					</a>
				</div>
			</div>
			<div class="navbar-item">
				<p>{{key}}</p>
			</div>
			<div class="navbar-end">
				<div class="navbar-item">
					<div class="field is-grouped">
						<p class="control">
							<a class="button is-dark is-outlined" href="/">
								<span class="icon"><i class="fas fa-arrow-circle-left"></i></span>
								<span>Back</span>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<video data-dashjs-player autoplay src="http://{{host}}/dash/{{key}}.mpd" controls id="vid" poster="/static/home_app/img/{{key}}.jpg"></video>

	<a class="button is-dark" href="/" id="back">
		<span class="icon"><i class="fas fa-arrow-circle-left"></i></span>
		<span>Back</span>
	</a>

	<script>
		const vid = document.getElementById("vid");

		if (window.MediaSource) {
			player = dashjs.MediaPlayer().create();
			player.initialize(vid, null, true);
			player.setFastSwitchEnabled(true);
			// console.log(player);
			player.reset()
		} else {
			let src = vid.src;
			src = src.replace("/dash/", "/hls/");
			video_element.src = src;
		}

		// detect mouse inactive from
		// https://stackoverflow.com/questions/667555/how-to-detect-idle-time-in-javascript-elegantly
		var inactivityTime = function () {
			var t;
			window.onload = resetTimer;
			document.onmousemove = resetTimer;
			document.onkeypress = resetTimer;

			function hidenav() {
				document.getElementById("nav").style.opacity = 0;
				document.querySelector("body").style.cursor = "none";
			}

			function resetTimer() {
				document.getElementById("nav").style.opacity = 1;
				document.querySelector("body").style.cursor = "auto";
				clearTimeout(t);
				t = setTimeout(hidenav, 3000)
			}
		};
		inactivityTime();

	</script>

</body>
</html>