<div class="container">
  <p>Change Settings here</p>
  <p>Admin Settings:</p>
  <p>
    <button class="button is-primary">Refresh the database</button>
    <button class="button is-danger">Clear the database</button>
  </p>
  <p>Enable edit mode?</p>
  <div class="control">
    <label class="radio">
      <input type="radio" name="edit_mode" checked>
      Disabled
    </label>
    <label class="radio">
      <input type="radio" name="edit_mode">
      Enabled
    </label>
  </div>
  <p>Restrict signup?</p>
  <div class="control">
    <label class="radio">
      <input type="radio" name="signup_mode" checked>
      Open
    </label>
    <label class="radio">
      <input type="radio" name="signup_mode">
      Invite Only
    </label>
  </div>
  <p>Allow anonymous viewers?</p>
  <div class="control">
    <label class="radio">
      <input type="radio" name="guest_mode" checked>
      Unrestricted
    </label>
    <label class="radio">
      <input type="radio" name="guest_mode">
      Restricted
    </label>
  </div>
  <p>User Settings:</p>
  <p>
    <button class="button is-info">Clear User Watch History/Progress</button>
  </p>
  <p>UI Theme?</p>
  <div class="control">
    <label class="radio">
      <input type="radio" name="theme" checked>
      Dark
    </label>
    <label class="radio">
      <input type="radio" name="theme">
      Light
    </label>
  </div>
</div>