.avatar {
    border-radius: 50%;
}

.img-upload input[type=file] {
    display: none;
}

.user {
    padding: 10px;
    border: 0 !important;
    background-color: #fff1;
    box-shadow: none;
}

.user:hover {
    background-color: #fff2;
    cursor: pointer;
}

.media { 
    height: 48px;
}

.image {
    margin-top: 0;
}

.avatar {
    border-radius: 50%;
}

strong {
    color: #ddd;
    line-height: 48px;
}

label {
    color: #eee !important;
}

form, p {
    display: inline-block;
}

/* new */

.log-reg {
    width: 640px;
    margin: 0 auto;
}

.log-reg > .box {
    height: 400px;
    background-color: #363636;
}

.log-reg > .hero {
    height: 80px;
}

.title {
    margin-top: -25px !important;
}

.hero {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}

.box {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; 
    background-color: #2222;
}

.columns, .column {
    margin: 0;
}

input {
    background-color: transparent;
    border-radius: 0px;
    border: 0 solid transparent;
    border-bottom: 1px solid #fff;
    caret-color: #fff;
    color: #fff;
    box-shadow: none;
}

input:focus {
    box-shadow: none;
}

.img-upload:hover {
    cursor: pointer;
}

.img-upload:hover img.avatar {
    filter: brightness(50%);
}

.centered {
    margin-top: 10px;
    width: 160px;
    font-weight: bold;
    text-align: center;
}

.float-right {
    float: right;
}

/* new stuff here */

.middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: .25s ease;
}

.img-icon {
    position: relative;
    bottom: 30px;
    transform: scale(3);
}

.img-upload:hover .middle { opacity: 1; }