<!-- Default navbar -->
<nav class="navbar is-fixed-top is-dark">
    <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="['/']">
            <img src="assets/tsundere.png" alt="brand">
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span><span></span><span></span>
        </div>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-end" *ngIf="!user">
            <a class="navbar-item" [routerLink]="['/']">Home</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#!">Other</a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="#!">About</a>
                    <a class="navbar-item" [routerLink]="['/settings']">Settings</a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#!">
                    <span class="icon"><i class="fas fa-user-circle"></i></span>
                    <span>User</span>
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" [routerLink]="['/user/login']">Sign In</a>
                    <a class="navbar-item" [routerLink]="['/user/new']">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="navbar-end" *ngIf="user">
            <a class="navbar-item" [routerLink]="['/']">Home</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#!">Other</a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="#!">About</a>
                    <a class="navbar-item" [routerLink]="['/settings']">Settings</a>
                    <a class="navbar-item" (click)="search()">Search for media</a>
                    <a class="navbar-item" (click)="reset()">reset the database</a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#!">
                    <figure class="image is-24x24">
                        <img class="avatar" src="/media/avatars/{{ user.avatar }}" alt="{{ user.avatar }}" />
                    </figure>
                    <span>{{ user.username }}</span>
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" [routerLink]="['user', user.id]">User</a>
                    <a class="navbar-item" (click)="logout()">Sign Out</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- components load here -->
<router-outlet (activate)="onActivate($event)"></router-outlet>