.icon {
    margin-right: 10px; 
}
.image {
    margin-top: 0;
    margin-right: 10px; 
}
.avatar {
    border-radius: 50%;
}
.navbar {
    background-color: #3339 !important;
    transition: .25s ease;
}
